body{
    padding: 0;
    margin: 0;
    width:100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    padding-top:8% ;
    background-image: url('https://source.unsplash.com/featured?math');
    
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:300px;
    margin: auto;
    
    padding: 3%;
    border-radius: 20px;
    background:  linear-gradient( 325deg, #5b268a 0%,#7a4e8f 30%,#c3abdb 70%, #e0f8dc 100%);
}
.inp{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3% 3% 0% 3%;
}
.screen{
    
    
    padding: 3%;
    width: 100%;
    border-radius: 20px;
    border: none;
}

button{
    width: 20%;
    margin: 2%;
    padding: 5%;
    font-size: 25px;
    color: #5b268a;
    background-color: rgb(246, 181, 62);
    border-radius: 20px;
    border: white 3px;
}
button:hover{
    color: #42ea0a;
    background-color: rgb(241, 207, 160);
}
input {
    background-color: white;
    font-size: 100%;
}
